@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
body {
  font-family: "Roboto";
  font-weight: 400;
}

li {
  font-family: "Otomanopee One";
}

a {
  font-family: "Roboto";
}

h1 {
  font-family: "Roboto";
  font-weight: 700;
}

h2 {
  font-family: 'Otomanopee One';
}

.produit__ID_PageSecondaire,
.produit__Name_PageSecondaire,
.produit__Description_PageSecondaire,
.produit__Price_PageSecondaire {
  font-family: "Roboto";
}

#option__Produit {
  font-family: "Roboto";
  font-weight: 700;
}

.message__Erreur {
  font-family: "Roboto";
  font-weight: 700;
}

#btn-envoyer {
  font-family: "Roboto";
  font-weight: 600;
}

#btn-Delete-Bucket {
  font-family: "Roboto";
  font-weight: 600;
}

#btn-checkout {
  font-family: "Roboto";
  font-weight: 600;
}

.panier__Description_typography {
  font-family: "Roboto";
  font-weight: 400;
}

.main__Panier_Title {
  font-family: 'Otomanopee One';
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
}

.navMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navMenu li {
  margin: 1.5rem;
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

.acolor {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.acolor:hover {
  color: mediumslateblue;
}

.footer__reseauxSociaux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reseauSocial {
  margin: 1rem;
}

.separateur {
  width: 100%;
}

.footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 3rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding-bottom: 0.3rem;
}

.main__Produit {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  max-width: 1400px;
}

.camera__Picture {
  width: 360px;
  height: 240px;
}

.camera__Title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.camera__article {
  width: 360px;
  height: 421px;
  margin-right: 5rem;
  margin-bottom: 5rem;
}

.camera__Price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.message__Erreur {
  color: red;
  text-align: center;
  padding-bottom: 5rem;
}

.image__Camera_PageSecondaire {
  width: 400px;
}

.produit_PageSecondaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.produit__Picture_PageSecondaire {
  margin: auto;
}

.main__Produit_PageSecondaire {
  margin: 5rem;
}

.panier__Description_typography {
  display: inline;
}

.main__Panier_Title {
  font-size: x-large;
}

.main__Panier {
  margin: 0 10rem 0 10rem;
  position: relative;
}

.main__Panier_Title {
  margin: 5rem;
}

.grid-panier {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-row-gap: 1rem;
      grid-template-areas: "main__Panier_container" "container__Recapitulatif" "panier__Final_Price";
}

.main__Panier_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 80vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid black;
}

.container__Recapitulatif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panier__Final_Price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5rem;
}

#btn-Delete-Bucket {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#btn-checkout {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.container__Bucket_Empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
}

.panier__Final_Price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem;
}

#option__Produit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2rem;
  width: 10rem;
  text-align-last: center;
}

.bouton__Commander {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 200px;
}

#btn-envoyer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 175px;
  height: 55px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1;
  border-radius: 2rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  background-size: 200%;
  background-image: -webkit-gradient(linear, left top, right top, from(#edbc80), color-stop(#c09fef), to(#edbc80));
  background-image: linear-gradient(to right, #edbc80, #c09fef, #edbc80);
}

#btn-envoyer:hover {
  background-position: right;
}

#btn-envoyer:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}

.btn__Delete_Item {
  border: none;
}

.btn__Empty_Bucket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#btn-Delete-Bucket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
  width: 165px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1;
  border-radius: 2rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  background-size: 200%;
  background-image: -webkit-gradient(linear, left top, right top, from(#edbc80), color-stop(#c09fef), to(#edbc80));
  background-image: linear-gradient(to right, #edbc80, #c09fef, #edbc80);
}

#btn-Delete-Bucket:hover {
  background-position: right;
}

#btn-Delete-Bucket:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}

.btn__checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#btn-checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
  width: 165px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1;
  border-radius: 2rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  background-size: 200%;
  background-image: -webkit-gradient(linear, left top, right top, from(#edbc80), color-stop(#c09fef), to(#edbc80));
  background-image: linear-gradient(to right, #edbc80, #c09fef, #edbc80);
}

#btn-checkout:hover {
  background-position: right;
}

#btn-checkout:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}

.fas {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

#twitter, #facebook, #instagram, #youtube {
  font-size: 1.5rem;
  margin: 1rem;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#twitter:hover, #facebook:hover, #instagram:hover, #youtube:hover {
  color: mediumslateblue;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#fas-btn {
  font-size: 1.01rem;
  padding: 0.5rem;
}

#Icone_Delete {
  font-size: 1rem;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  cursor: pointer;
}

#Icone_Delete:hover {
  color: mediumslateblue;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body {
  margin: 0;
  padding: 0;
}

.logoPosition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  width: 640px;
  height: 320px;
  padding-bottom: 5rem;
}

.navMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navMenu li {
  margin: 1.5rem;
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

.acolor {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.acolor:hover {
  color: mediumslateblue;
}

body {
  background-color: #f3e9f1;
}
/*# sourceMappingURL=main.css.map */