// Color Variables 
$color-primary: rgb(243, 233, 241);; 
$color-secondairy: mediumslateblue; 
// Color Variables Buttun
$first-color-buttun: #edbc80;
$second-color-buttun: #c09fef;

// Responsive 

@mixin responsive($breakpoints) {

    @if $breakpoints == tablet-up {
        @media screen and (min-width: 500px){@content;}
    }

    @if $breakpoints == tablet-zoom {
        @media screen and (min-width: 700px){@content;}
    }

    @if $breakpoints == tablet-down {
        @media screen and (min-width: 900px){@content;}
    }

    @if $breakpoints == desktop {
        @media screen and (min-width: 1200px){@content;}
    }
    
}
