// Formulaire - Page Secondaire - Label 

#option__Produit{
    display: flex;
    border-radius: 2rem;
    width: 10rem;
    text-align-last: center;
}

// Ajouter au Panier - Page Secondaire 

.bouton__Commander {
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
}

#btn-envoyer {    
    display: flex;
    width: 175px;
    height: 55px;
    justify-content: center;
    align-items: center;
    border: 1;
    border-radius: 2rem;
    transition: 0.5s;
    cursor: pointer;
    background-size: 200%;
    background-image: linear-gradient(
        to  right, 
        #edbc80,
        #c09fef,
        #edbc80
    );

    &:hover {
        background-position: right;
    }

    &:active {
        transform: scale(1.1);
        transition: 1s;
    }
}
