// Formulaire - Page Secondaire - Label 

#option__Produit{
    display: flex;
    border-radius: 2rem;
    width: 10rem;
    text-align-last: center;
}

// Ajouter au Panier - Page Secondaire 

.bouton__Commander {
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
    @include responsive(tablet-up) {
        padding-top: 2rem ;
        }
}

#btn-envoyer {    
    display: flex;
    width: 175px;
    height: 55px;
    justify-content: center;
    align-items: center;
    border: 1;
    border-radius: 2rem;
    transition: 0.5s;
    cursor: pointer;
    background-size: 200%;
    background-image: linear-gradient(
        to  right, 
        $first-color-buttun,
        $second-color-buttun,
        $first-color-buttun
    );

    &:hover {
        background-position: right;
    }

    &:active {
        transform: scale(1.1);
        transition: 1s;
    }
}

// Bouton - Page Panier - "Supprimer l'article"

.btn__Delete_Item{
    border: none;
}

// Bouton - Page Panier - "Vider le Panier"

.btn__Empty_Bucket {
    display: flex;
    justify-content: flex-start;
}

#btn-Delete-Bucket {
    display: flex;
    margin: 30px;
    width: 165px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: 1;
    border-radius: 2rem;
    transition: 0.5s;
    cursor: pointer;
    background-size: 200%;
    background-image: linear-gradient(
        to  right, 
        $first-color-buttun,
        $second-color-buttun,
        $first-color-buttun
    );

    &:hover {
        background-position: right;
    }

    &:active {
        transform: scale(1.1);
        transition: 1s;
    }
}

// Bouton - Page Panier - "Passer la commande"

.btn__checkout {
    display: flex;
    justify-content: flex-end;
}

#btn-checkout {
    display: flex;
    margin: 30px;
    width: 165px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: 1;
    border-radius: 2rem;
    transition: 0.5s;
    cursor: pointer;
    background-size: 200%;
    background-image: linear-gradient(
        to  right, 
        $first-color-buttun,
        $second-color-buttun,
        $first-color-buttun
    );

    &:hover {
        background-position: right;
    }

    &:active {
        transform: scale(1.1);
        transition: 1s;
    }
}


// Bouton du Formulaire pour passer la commande 

#envoyerFormulaire {

    display: flex;
    margin: 30px;
    width: 210px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: 1;
    border-radius: 2rem;
    transition: 0.5s;
    cursor: pointer;
    background-size: 200%;
    background-image: linear-gradient(
        to  right, 
        $first-color-buttun,
        $second-color-buttun,
        $first-color-buttun
    );

    &:hover {
        background-position: right;
    }

    &:active {
        transform: scale(1.1);
        transition: 1s;
    }
}