.fas {
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

#twitter, #facebook, #instagram, #youtube {
    font-size: 1.5rem;
    margin: 1rem;
    transition: all 1s ease-out;
    &:hover{
        color: $color-secondairy;
        transform: scale(1.5);
    } 
}

// Icone du bouton "Ajouter au panier" : Page Secondaire 

#fas-btn {
    font-size: 1.01rem;
    padding: 0.5rem;
}

// Icone du bouton "Supprimer l'article du Panier"

#Icone_Delete {
    font-size: 1rem;
    transition: all 1s ease-out;
    cursor: pointer;
    &:hover{
        color: $color-secondairy;
        transform: scale(1.1);
    } 
}