.fas {
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

#twitter, #facebook, #instagram {
    font-size: 1.5rem;
    margin: 1rem;
    transition: all 1s ease-out;
    &:hover{
        color: mediumslateblue;
        transform: scale(1.5);
    } 
}