@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

body {
    font-family: "Roboto";
    font-weight: 400;
}

li {
    font-family: "Otomanopee One";
}

a {
    font-family: "Roboto";
}

h1 {
    font-family: "Roboto";
    font-weight: 700;
}

h2 {
    font-family: 'Otomanopee One';
}

// Page Secondaire : Texte Produit 

.produit__ID_PageSecondaire, .produit__Name_PageSecondaire, .produit__Description_PageSecondaire, .produit__Price_PageSecondaire {
    font-family: "Roboto";
}

// Page Secondaire : Texte Option Lentilles 

#option__Produit{
    font-family: "Roboto";
    font-weight: 700;
}

// Page Secondaire : Message d'erreur 

.message__Erreur {
    font-family: "Roboto";
    font-weight: 700;
}

// Page Produit : Bouton Ajouter au panier 

#btn-envoyer {
    font-family: "Roboto";
    font-weight: 600;
}