@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

body {
    font-family: "Roboto";
    font-weight: 400;
}

li {
    font-family: "Otomanopee One";
}

a {
    font-family: "Roboto";
}

h1 {
    font-family: "Roboto";
    font-weight: 700;
}

h2 {
    font-family: 'Otomanopee One';
}

// Page Secondaire : Texte Produit 

.produit__ID_PageSecondaire,
.produit__Name_PageSecondaire,
.produit__Description_PageSecondaire,
.produit__Price_PageSecondaire {
    font-family: "Roboto";
}

// Page Secondaire : Texte Option Lentilles 

#option__Produit {
    font-family: "Roboto";
    font-weight: 700;
}

// Page Secondaire : Message d'erreur 

.message__Erreur {
    font-family: "Roboto";
    font-weight: 700;
}

// Page Produit : Bouton Ajouter au panier 

#btn-envoyer {
    font-family: "Roboto";
    font-weight: 600;
}

// Bouton - Page Panier - "Vider le Panier"

#btn-Delete-Bucket {
    font-family: "Roboto";
    font-weight: 600;
}

// Bouton - Page Panier - "Passer la commande"

#btn-checkout {
    font-family: "Roboto";
    font-weight: 600;
}

// Bouton - Page Panier - "envoyer Formulaire"

#envoyerFormulaire {
    font-family: "Roboto";
    font-weight: 600;
}

// Page Panier - Montant Total

.panier__Total_Price {
    font-family: "Roboto";
    font-weight: 600;
}

// Page Panier - Déscription des produits 

.panier__Description_typography {
    font-family: "Roboto";
    font-weight: 400;  
}

// Page Panier - Titre H1

.main__Panier_Title {
    font-family: 'Otomanopee One';
    font-weight: 600;
}

// Formulaire pour passer la commande 

label {
    font-family: 'Otomanopee One';
    font-weight: 400;
}

// Page Confirmation Commande 

.recapitulatif__Commande_Numero {
    font-weight: 900;
}

.recapitulatif__Commande_Price {
    font-weight: 900;
}