.footer__reseauxSociaux {
    display: flex;
    justify-content: center
}

.reseauSocial {
    margin: 1rem;
}

.separateur {
    width: 100%;
}
.footer_container {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 3rem;
    @include responsive(tablet-up) {
        margin: auto;
        flex-direction: column;
    @include responsive(tablet-down) {
        flex-direction: row;
        }
    }
    .footer__about, .footer__informations, .footer__contact {
        @include responsive(tablet-up) {
            text-align: center;
        }
    }
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding-bottom: 0.3rem;
}

