// Position et Style des différentes produits.

.main__Produit{
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 1400px;    
    @include responsive(tablet-zoom) {
        flex-direction: column;
    }
    @include responsive(tablet-down) {
        flex-direction: row;
        gap: 5rem;
    }
}

.camera__Picture {
    width: 360px;
    height: 240px;
}

.camera__Title {
    display: flex;
    justify-content: center;
}

.camera__article {
    width: 360px;
    height: 421px;
    margin-right: 5rem;
    margin-bottom: 5rem;
    @include responsive(tablet-up) {
        margin: auto;
        padding-bottom: 3rem;
    }
}

.camera__Price {
    display: flex;
    justify-content: flex-end;
}


// Page Secondaire : Message d'erreur 

.message__Erreur {
    color: red;
    text-align: center;
    padding-bottom: 5rem;
}
 

// Page Secondaire Style des caméras

.image__Camera_PageSecondaire {
    width: 400px;
}

.produit_PageSecondaire {
    display: flex;
    @include responsive(tablet-up) {
        flex-direction: column;
        }
}

.produit__Picture_PageSecondaire {
    margin: auto;
}

.main__Produit_PageSecondaire {
    margin: 5rem;
}

